.Suggestions {
  padding: 0.8rem 0.6rem 0 0.6rem;
  background: white;
  margin-left: 0.2rem;
}

@media (max-width: 576px) {
  .Suggestions {
    width: 98%;
  }
}

.child-header-container {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.child-header-container h3 {
  font-size: 1rem;
}

.child-header-container span {
  font-size: 0.7rem;
  color: #979797;
}

.search-container {
  display: flex;
  align-items: center;
  background: #F4F4F4;
  height: 2rem;
  margin-left: 0.2rem;
  margin-top: 0.6rem;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-bar input:focus {
  border: none;
  outline: none;
}

.search-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 2rem;
  width: 2.2rem;
}

.search-icon {
  color: #aaaaaa;
  margin: auto;
  cursor: pointer;
}

.search-container input[type="text"] {
  padding: 0.6rem 0;
  width: 200%;
  background: #F4F4F4;
  border: none;
  font-size: 0.75rem;
  color: black;
}

.search-container input::placeholder {
  font-size: 0.75rem;
}

.Suggestions table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0.2rem;
}

.s-col-1 {
  width: 45%;
}

.s-col-2 {
  width: 50%;
}

.Suggestions .table-container {
  max-height: 11.2rem;
  overflow: auto;
  margin-left: 0.2rem;
}

.s-col-1.data {
  color: #4c9aff;
  cursor: pointer;
}

table tr {
  border-bottom: 1.5px solid #cacaca;
}

.Suggestions.head, .Suggestions.data {
  font-size: 0.74rem;
}

.addfile-icon {
  color: blue;
}

.addfile-icon:hover {
  cursor: pointer;
}