:root {
  --color-yellow-300: #e8e0d8;
  --color-yellow: #918b7c;

  --color-hover: #bfbf9c;
  --card-border-radius: 0.3rem;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  margin: 0;
}

h4 {
  font-size: 0.85rem;
  font-weight: bold;
}

h5 {
  font-size: 0.6rem;
  color: rgb(176, 176, 176);
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  /* margin-block-start: 1em;
  margin-block-end: 1em; */
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

body {
  background: black;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
